/**
 * @name DEMIDEMI
 * @author ClearVision Team
 * @version 6.3.0
 * @description Highly customizable theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.github.io
 * @invite 7pNUC9C
 * @BDEditor Clear Vision
 */

/* Credits to Zerthox for making the original theme. */
Expand All
	@@ -16,18 +17,18 @@
/* SETTINGS */
:root {
  /* ACCENT COLORS */
  --main-color: #D08D99; /* main accent color (hex, rgb or hsl) [default: #2780e6] */
  --hover-color: #A86B80; /* hover accent color (hex, rgb or hsl) [default: #1e63b3] */
  --success-color: #537A55; /* success accent color (hex, rgb or hsl) [default: #43b581] */
  --danger-color: #8F3131; /* danger accent color (hex, rgb or hsl) [default: #982929] */
  --url-color: var(--main-color); /*The color of url links [default: var(--main-color)]*/

  /* STATUS COLORS */
  --online-color: #869499; /* online status color (hex, rgb or hsl) [default: #43b581] */
  --idle-color: #3C414F; /* idle status color (hex, rgb or hsl) [default: #faa61a] */
  --dnd-color: #452A2A; /* dnd status color (hex, rgb or hsl) [default: #982929] */
  --streaming-color: #4F475D; /* streaming status color (hex, rgb or hsl) [default: #593695] */
  --offline-color: #2F2F2F; /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */

  /* GENERAL */
  --main-font: gg sans, Helvetica Neue, Helvetica, Arial, sans-serif; /* main font for app (font must be installed) [default: gg sans, Helvetica Neue, Helvetica, Arial, sans-serif] */
Expand All
	@@ -38,20 +39,20 @@
  --members-width: 240px; /* member list width [default: 240px] */

  /* APP BACKGROUND */
  --background-shading: 40%; /* app background shading (0 for complete smoothness) [default: 100%] */
  --background-overlay: rgba(0, 0, 0, 0.6); /* app background overlay color/gradient [default: rgba(0, 0, 0, 0.6)] */
  --background-image: url(https://images7.alphacoders.com/120/1209009.png); /* app background image (link must be HTTPS) [default: url(https://clearvision.github.io/images/sapphire.jpg)]*/
  --background-position: center; /* app background position [default: center] */
  --background-size: cover; /* app background size [default: cover] */
  --background-repeat: no-repeat; /* app background repeat [default: no-repeat] */
  --background-attachment: fixed; /* app background attachment [default: fixed] */
  --background-brightness: 73%; /* app background brightness (< 100% for darken, > 100% for lighten) [default: 100%] */
  --background-contrast: 115%; /* app background contrast [default: 100%] */
  --background-saturation: 103%; /* app background saturation [default: 100%] */
  --background-invert: 0%; /* app background invert (0 - 100%)  [default: 0%] */
  --background-grayscale: 0%; /* app background grayscale ( 0 - 100%) [default: 0%] */
  --background-sepia: 0%; /* app background sepia (0 - 100%) [default: 0%] */
  --background-blur: 1px; /* app background blur [default: 0px] */

  /* HOME BUTTON ICON */
  --home-icon: url(https://clearvision.github.io/icons/discord.svg); /* home button icon (link must be HTTPS) [default: url(https://clearvision.github.io/icons/discord.svg)]*/
Expand Down
Expand Up
	@@ -80,31 +81,31 @@
  --backdrop-blur: var(--background-blur); /* modal backdrop blur [default: var(--background-blur)] */

  /* USER POPOUT BACKGROUND */
  --user-popout-image: url(https://64.media.tumblr.com/11473b7ca81a78d8fb0171882f9d9473/fb4b22e33c3c2877-c1/s1280x1920/c328926472d024b7bf5af1b027c4982b3aec336f.png); /* app background image (link must be HTTPS) [default: var(--background-image)] */
  --user-popout-position: center; /* user popout background position [default: var(--background-position)] */
  --user-popout-size: cover; /* user popout background size [default: var(--background-size)] */
  --user-popout-repeat: no-repeat; /* user popout background repeat [default: var(--background-repeat)] */
  --user-popout-attachment: fixed; /* user popout background attachment [default: var(--background-attachment)] */
  --user-popout-brightness: 100%; /* user popout background brightness (< 100% for darken, > 100% for lighten) [default: var(--background-brightness)] */
  --user-popout-contrast: 112%; /* user popout background contrast [default: var(--background-contrast)] */
  --user-popout-saturation: 110%; /* user popout background saturation [default: var(--background-saturation)] */
  --user-popout-invert: 0%; /* user popout background invert (0 - 100%) [default: var(--background-invert)] */
  --user-popout-grayscale: 0%; /* user popout background grayscale (0 - 100%) [default: var(--background-grayscale)] */
  --user-popout-sepia: 0%; /* user popout background sepia (0 - 100%) [default: var(--background-sepia)] */
  --user-popout-blur: 2px; /* user popout background blur [default: calc(var(--background-blur) + 3px)] */
  --user-popout-overlay: rgba(0, 0, 0, 0.6); /* user popout overlay color [default: rgba(0, 0, 0, .6)] */

  /* USER MODAL BACKGROUND */
  --user-modal-image: url(https://images.squarespace-cdn.com/content/v1/5fe4caeadae61a2f19719512/1610913054739-Z2DKMFOTWB46J8WZLOU7/47.jpg); /* app background image (link must be HTTPS) [default: var(--background-image)] */
  --user-modal-position: center; /* user modal background position [default: var(--background-position)] */
  --user-modal-size: cover; /* user modal background size [default: var(--background-size)] */
  --user-modal-repeat: no-repeat; /* user modal background repeat [default: var(--background-repeat)] */
  --user-modal-attachment: fixed; /* user modal background attachment [default: var(--background-attachment)] */
  --user-modal-brightness: 100%; /* user modal background brightness (< 100% for darken, > 100% for lighten) [default: var(--background-brightness)] */
  --user-modal-contrast: 112%; /* user modal background contrast [default: var(--background-contrast)] */
  --user-modal-saturation: 110%; /* user modal background saturation [default: var(--background-saturation)] */
  --user-modal-invert: 1%; /* user modal background invert (0 - 100%) [default: var(--background-invert)] */
  --user-modal-grayscale: 0%; /* user modal background grayscale (0 - 100%) [default: var(--background-grayscale)] */
  --user-modal-sepia: var(--background-sepia); /* user modal background sepia (0 - 100%) [default: var(--background-sepia)] */
  --user-modal-blur: calc(var(--background-blur) + 3px); /* user modal background blur [default: calc(var(--background-blur) + 3px)] */
